<a href="https://colab.research.google.com/github/gbourzikas/QTR/blob/main/Bourzikas_QTR_Final_V3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quantifying the World - Fall 2021
## Case Study 5 | Firewall Rule Data
## Grant Bourzikas

## Abstract
The problem that has been brought to our data science team comes from cybersecurity community.  The data was collected from large organization, and they want to automate the creation of firewall rulesets. To classify the firewall rules, we will determine if they should be allowed, denied, dropped, or reset thus speeding up business and decreasing complexity in their environment

After reviewing the results of the algorithms, the clear winner was the SVC algorithm with 99.8.% accuracy because it did not introduce any risk to the organization and only had 28 false negatives.  While the model did take more time to run, the accuracy and protection of the organization was Top Notch.

# Introduction
The problem that has been brought to our data science team comes from cybersecurity community.  The data was collected from large organization, and they want to automate the creation of firewall rulesets. To classify the firewall rules, we will determine if they should be allowed, denied, dropped, or reset thus speeding up business and decreasing complexity in their environment

The goal of the study is to develop and use Support Vector Machine (SVM) and Stochastic gradient descent (SGD) machine learning models. GridSearch and Randomized Search were not leveraged due to the data set size and the time it take to run multiple options (we did attempt but this did fail), but rather we leveraged our own python code to manipulate the various parameters in the algorithms to get an optimal score.   The “Action” feature is the independent variable (y) that will be used predict the whether the firewall traffic should be allowed, denied, dropped, or reset. One data files was received that contained the Firewall data which included over 65,532 records with 12 features.

In [ ]:
print("Firewall Dataset - Rows:", fw.shape[0], "Columns/Features", fw.shape[1])

# Exploratory Data Analysis
After analyzing the data, it was discovered that that was a multiclass prediction specifically on the Action field.

In [ ]:
# Exploratory Data Analysis
After analyzing the data, it was discovered that that was a multiclass prediction specifically on the Action field.

In [1]:
# Start Code

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.callbacks import TensorBoard
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from time import time
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split


from sklearn.model_selection import train_test_split
import seaborn as sns 
from sklearn.metrics import classification_report, plot_confusion_matrix

In [5]:
df_Org = pd.read_csv('/content/drive/MyDrive/final_project.csv')

In [6]:
df_Org.head()

         x0        x1         x2        x3  ...       x47       x48        x49  y
0 -0.166563 -3.961588   4.621113  2.481908  ... -7.689696  0.151589  -8.040166  0
1 -0.149894 -0.585676  27.839856  4.152333  ... -4.896678 -0.320283  16.719974  0
2 -0.321707 -1.429819  12.251561  6.586874  ... -7.428573 -2.090804  -7.869421  0
3 -0.245594  5.076677 -24.149632  3.637307  ...  5.361375  1.806070  -7.670847  0
4 -0.273366  0.306326 -11.352593  1.676758  ... -0.208351 -0.894942  15.724742  1

[5 rows x 51 columns]

In [7]:
df_Org.shape

(160000, 51)

In [8]:
# Drop NA Rows
print("NA's In Dataset:",df_Org.isnull().sum().sum())

df_Org = df_Org.dropna()
print("After NA's Dropped:",(df_Org.isnull().sum().sum()))
print("Final Shape of Datframe:", df_Org.shape)

NA's In Dataset: 1608
After NA's Dropped: 0
Final Shape of Datframe: (158392, 51)

In [9]:
# Review Valuecounts
for columns in df_Org:
    print(df_Org[columns].value_counts())

-0.343737    1
-0.277255    1
 0.093831    1
-0.347379    1
 0.041180    1
            ..
-0.267501    1
 0.157664    1
 0.058046    1
 0.271365    1
 0.806262    1
Name: x0, Length: 158392, dtype: int64
 2.753232     1
 10.411656    1
-0.497376     1
-5.379456     1
-6.114450     1
             ..
 3.571226     1
-6.312343     1
 7.795734     1
 2.382735     1
-0.104553     1
Name: x1, Length: 158392, dtype: int64
 1.013149     1
-14.083205    1
-1.207091     1
-3.190369     1
-16.303680    1
             ..
-5.965018     1
-18.234312    1
 1.430004     1
-11.742846    1
-7.631792     1
Name: x2, Length: 158392, dtype: int64
 8.612018     1
 2.999966     1
-9.591580     1
 0.323170     1
 13.324483    1
             ..
-16.742501    1
 8.477979     1
 9.666829     1
-4.553361     1
 1.002264     1
Name: x3, Length: 158392, dtype: int64
-8.237243     1
-3.544970     1
-4.049198     1
 6.435219     1
 1.031178     1
             ..
-6.776208     1
 12.516159    1
-11.063872    1
 0.706205     1
-2.423492     1
Name: x4, Length: 158392, dtype: int64
 1.747008     1
 9.252944     1
 7.368334     1
 0.671852     1
 0.037711     1
             ..
-0.746471     1
-1.244649     1
-8.553028     1
-13.232523    1
-5.725937     1
Name: x5, Length: 158392, dtype: int64
-0.597343     1
 11.759209    1
 14.147457    1
-4.952638     1
 0.062771     1
             ..
 10.581161    1
 19.426155    1
 17.454115    1
-19.727836    1
-1.752142     1
Name: x6, Length: 158392, dtype: int64
-12.625165    1
 23.378975    1
 8.923300     1
 61.496990    1
 45.924147    1
             ..
 4.536371     1
 1.537836     1
 28.326722    1
-74.595826    1
-7.004834     1
Name: x7, Length: 158392, dtype: int64
 3.280245     1
-9.106635     1
-14.840253    1
-24.445101    1
-10.681784    1
             ..
-0.762404     1
 0.749874     1
-0.650437     1
 11.534934    1
-6.104345     1
Name: x8, Length: 158392, dtype: int64
 3.729101     1
-2.583684     1
 8.917569     1
 1.579230     1
-13.989836    1
             ..
 4.418511     1
 7.820134     1
-9.516596     1
 6.535733     1
 5.423598     1
Name: x9, Length: 158392, dtype: int64
 6.466809     1
 2.311998     1
-14.574329    1
 10.139012    1
-1.825357     1
             ..
-7.572195     1
-13.204184    1
 16.648929    1
-2.608374     1
-1.411075     1
Name: x10, Length: 158392, dtype: int64
 4.102017     1
-0.458969     1
-2.218090     1
 1.629688     1
 3.604038     1
             ..
 6.643900     1
-4.258962     1
-2.784081     1
 5.012945     1
 13.391709    1
Name: x11, Length: 158392, dtype: int64
 5.313896     1
-15.873788    1
-1.457228     1
-7.325357     1
-6.997951     1
             ..
-17.234481    1
-2.773384     1
-29.760494    1
-23.508682    1
 7.215984     1
Name: x12, Length: 158392, dtype: int64
-4.639837     1
-14.777296    1
 5.455694     1
-1.213294     1
 8.976390     1
             ..
-5.007008     1
 5.141446     1
 5.826504     1
 11.976048    1
-6.006601     1
Name: x13, Length: 158392, dtype: int64
-1.214372     1
 8.691712     1
 5.607039     1
 4.099157     1
 2.157451     1
             ..
 12.764373    1
-0.372640     1
 6.104826     1
-3.781191     1
 15.669487    1
Name: x14, Length: 158392, dtype: int64
 0.533868    1
-7.496869    1
 0.956618    1
 0.380507    1
-0.403627    1
            ..
-1.862383    1
 0.157013    1
 4.205896    1
-4.851712    1
-4.327166    1
Name: x15, Length: 158392, dtype: int64
-1.412537    1
-6.477659    1
 2.752143    1
-5.281499    1
-3.972552    1
            ..
-0.369898    1
-4.034932    1
-0.539312    1
 9.653685    1
-3.384628    1
Name: x16, Length: 158392, dtype: int64
 9.297413     1
-14.852920    1
 10.439870    1
 4.880301     1
-6.530892     1
             ..
-5.725504     1
-5.311613     1
-3.148759     1
-10.696288    1
 7.348655     1
Name: x17, Length: 158392, dtype: int64
-1.654769    1
 6.945437    1
-1.957687    1
-0.332518    1
-3.397805    1
            ..
-0.695998    1
 1.139433    1
 1.427735    1
 4.773760    1
-5.981008    1
Name: x18, Length: 158392, dtype: int64
 5.877477     1
 2.410535     1
 3.129218     1
-3.010973     1
 0.863634     1
             ..
 1.395223     1
-1.711177     1
-13.875043    1
 10.132028    1
 15.171636    1
Name: x19, Length: 158392, dtype: int64
-4.736268    1
-4.291051    1
 3.252299    1
-0.966470    1
 0.241216    1
            ..
-2.597258    1
-0.574298    1
 0.345697    1
-2.455216    1
-3.891969    1
Name: x20, Length: 158392, dtype: int64
-0.566362     1
 0.775156     1
 6.280845     1
 23.565640    1
 4.777265     1
             ..
-7.033046     1
 15.089717    1
 10.390514    1
-1.514543     1
 2.238164     1
Name: x21, Length: 158392, dtype: int64
-5.026989    1
 2.144024    1
-2.495453    1
-1.686349    1
-0.337406    1
            ..
-1.193106    1
 7.114742    1
-3.154151    1
 4.065652    1
-1.352278    1
Name: x22, Length: 158392, dtype: int64
 3.770221     1
 9.364475     1
-18.776134    1
 23.255902    1
-13.478567    1
             ..
 19.041451    1
 10.470118    1
 27.870104    1
 2.197952     1
-11.105365    1
Name: x23, Length: 158392, dtype: int64
asia       137596
euorpe      16378
america      4418
Name: x24, dtype: int64
-2.103266    1
-1.687875    1
-0.272529    1
-1.400937    1
-0.636944    1
            ..
 1.930528    1
-0.856456    1
-0.179260    1
 0.351698    1
-0.140098    1
Name: x25, Length: 158392, dtype: int64
-0.563795    1
 0.632197    1
-0.451706    1
-0.383397    1
 0.328192    1
            ..
-0.138221    1
 0.925413    1
-0.336525    1
-0.375229    1
-0.692562    1
Name: x26, Length: 158392, dtype: int64
-0.980662     1
 3.313281     1
 0.732085     1
-0.654037     1
 10.079691    1
             ..
 2.139238     1
 1.157180     1
-7.874146     1
-6.520252     1
 2.273132     1
Name: x27, Length: 158392, dtype: int64
-27.238384    1
-13.159622    1
-13.946682    1
-23.966163    1
-10.668205    1
             ..
 14.315478    1
 13.173318    1
-11.497401    1
-13.461814    1
-13.214627    1
Name: x28, Length: 158392, dtype: int64
July       45122
Jun        40900
Aug        29115
May        21708
sept.      10740
Apr         6699
Oct         2385
Mar         1221
Nov          331
Feb          139
Dev           23
January        9
Name: x29, dtype: int64
wednesday    100498
thurday       29164
tuesday       27690
friday          556
monday          484
Name: x30, dtype: int64
-2.070134    1
 6.635515    1
 0.583013    1
 0.612386    1
-3.661723    1
            ..
 3.101575    1
-1.234094    1
 0.969227    1
-3.171279    1
-3.517466    1
Name: x31, Length: 158392, dtype: int64
0.01%     40367
-0.01%    33771
0.0%      33556
-0.0%     30224
-0.02%     9812
0.02%      7911
-0.03%     1709
0.03%       845
-0.04%      136
0.04%        54
-0.05%        6
0.05%         1
Name: x32, dtype: int64
 1.039158    1
-2.336318    1
 0.607779    1
-1.903235    1
 3.291017    1
            ..
-0.032526    1
-0.208061    1
 0.659764    1
 0.719857    1
-1.493854    1
Name: x33, Length: 158392, dtype: int64
-4.359749     1
 2.880358     1
 15.821545    1
 8.995988     1
-1.046174     1
             ..
-3.313797     1
 6.054635     1
-4.475766     1
 1.600502     1
 12.852956    1
Name: x34, Length: 158392, dtype: int64
-1.772883    1
 0.034151    1
 0.826293    1
-0.111125    1
-1.004553    1
            ..
 2.122296    1
 0.181145    1
 2.859128    1
-1.083040    1
 0.607196    1
Name: x35, Length: 158392, dtype: int64
-1.208768    1
-0.532929    1
 2.842657    1
-0.271383    1
-1.758758    1
            ..
 0.401990    1
-2.384122    1
 2.788397    1
 0.431687    1
-2.069247    1
Name: x36, Length: 158392, dtype: int64
$-336.77     6
$-311.26     6
$618.22      6
$-415.46     6
$341.26      6
            ..
$-1391.69    1
$-1760.31    1
$-2052.07    1
$985.77      1
$1434.62     1
Name: x37, Length: 128126, dtype: int64
 54.514546    1
-8.101157     1
-51.762493    1
 18.177662    1
 31.024453    1
             ..
 36.588813    1
 6.647796     1
-1.122243     1
-4.140784     1
 5.374566     1
Name: x38, Length: 158392, dtype: int64
 4.814956     1
-0.956528     1
-11.219993    1
 5.119073     1
 1.202756     1
             ..
-3.640870     1
-2.233182     1
-0.346338     1
 2.554497     1
 4.655905     1
Name: x39, Length: 158392, dtype: int64
 3.084098     1
 5.766342     1
-13.574382    1
-35.612193    1
-11.442653    1
             ..
-6.517702     1
-7.520650     1
-10.588341    1
 21.940018    1
 33.660863    1
Name: x40, Length: 158392, dtype: int64
 5.422539     1
 3.779243     1
 11.646614    1
-2.149669     1
 20.708411    1
             ..
 22.298359    1
 31.826503    1
-7.020295     1
 34.227560    1
 15.182755    1
Name: x41, Length: 158392, dtype: int64
 5.526654     1
-7.614139     1
 3.008056     1
-1.838761     1
-12.667975    1
             ..
-2.067793     1
-15.251754    1
-2.876408     1
-3.780674     1
-3.819440     1
Name: x42, Length: 158392, dtype: int64
 0.021450    1
 0.901697    1
 3.146389    1
 2.152255    1
-3.379170    1
            ..
-0.322854    1
 3.264950    1
 0.487797    1
 3.231631    1
-0.519442    1
Name: x43, Length: 158392, dtype: int64
-1.889892    1
-6.201020    1
-7.737160    1
-1.976247    1
 3.930186    1
            ..
-0.239856    1
 4.220636    1
-1.619608    1
 1.940743    1
 0.350381    1
Name: x44, Length: 158392, dtype: int64
-0.282880    1
 0.395816    1
-0.230732    1
 0.410828    1
 0.120153    1
            ..
-0.055491    1
-0.088071    1
 0.911593    1
 0.336439    1
 0.624602    1
Name: x45, Length: 158392, dtype: int64
-15.996361    1
-53.766217    1
 47.004192    1
-17.426853    1
-27.400170    1
             ..
 15.220187    1
 5.265200     1
-19.838260    1
-7.499364     1
 2.085575     1
Name: x46, Length: 158392, dtype: int64
-2.657502    1
 2.267603    1
-5.158991    1
 1.177841    1
-1.047744    1
            ..
 4.678173    1
-6.923510    1
-4.687349    1
 5.181113    1
 2.440033    1
Name: x47, Length: 158392, dtype: int64
-3.669496    1
 0.810832    1
-0.149397    1
 0.957255    1
 0.141778    1
            ..
 1.695486    1
 0.595352    1
 2.069427    1
-2.903996    1
 0.250464    1
Name: x48, Length: 158392, dtype: int64
 0.578675     1
 6.915066     1
 30.857158    1
-15.798063    1
-23.353691    1
             ..
 17.180613    1
-16.507838    1
-32.390649    1
-4.949545     1
-22.058109    1
Name: x49, Length: 158392, dtype: int64
0    94846
1    63546
Name: y, dtype: int64

In [10]:
# Attempted Feature Engineering

In [11]:
print("Did not Use this as it Didn't Improve Accuracy")
# df = df_Org.copy()
# df = df.rename(columns = {'x24': 'region', 
#                           'x29': 'month', 
#                           'x30': 'weekday', }, inplace = False)   

# catagorical_Variables = ['region','month','weekday']
# df_Catagorical_Only = df[catagorical_Variables]
# df_Catagorical_Only.dtypes
# df_Catgorical_DF = pd.get_dummies(df_Catagorical_Only, drop_first=True) # This has all the dummies


# # df_Catagorical_Only.dtypes
# # for columns in df_Catagorical_Only:
# #     print(df_Catagorical_Only[columns].value_counts())

# # Convert Numeric
# numberic_Variables = ['x37', 'x32']
# df_numerical_Only = df[numberic_Variables]
# df_numerical_Only['x37'] = df_numerical_Only['x37'].replace({'\$':''}, regex = True)
# df_numerical_Only['x37'] = df_numerical_Only['x37'].astype('float')
# df_numerical_Only['x32'] = df_numerical_Only['x32'].replace({'\%':''}, regex = True)
# df_numerical_Only['x32'] = df_numerical_Only['x32'].astype('float')


# # Get Disceet Values for Scaler
# df_Discreet = df.drop(labels=catagorical_Variables, axis=1)
# df_Discreet = df_Discreet.drop(labels=numberic_Variables, axis=1)
# df_Discreet = df_Discreet.drop('y', axis=1)

# # df_Discreet.head()
# # for columns in df_Discreet:
# #     print(df_Discreet[columns].value_counts())

# scaler = StandardScaler()
# df_Discreet_Scaled = scaler.fit_transform(df_Discreet)
# df_Discreet_Scaled = pd.DataFrame(df_Discreet_Scaled, columns = df_Discreet.columns)
# print("Scaled Discete", df_Discreet_Scaled.shape)

Did not Use this as it Didn't Improve Accuracy

In [12]:
# # Join Dataset
# df_Clean = pd.merge(df_Discreet_Scaled, df_Catgorical_DF, left_index=True, right_index=True) # Join Discreet/Scaled and Catagorical
# df_Clean = pd.merge(df_Clean, df_numerical_Only, left_index=True, right_index=True) # Joing Above with Numberical
# df_Clean['y'] = df_Org['y'] # ADD Y
# print("Cleaned Dataset Size:", df_Clean.shape)

In [13]:
# Coorelatoins

In [14]:
# # Test Coor
# # Coorelation
# correlated_features = set()

# correlation_matrix = df_Clean.corr()

# coor_Delete = .90
# corList = []
# for i in range(len(correlation_matrix.columns)):
# #     print("I", i) 
#     for j in range(i):
# #         print("J", j) 
# #             print("Val", abs(correlation_matrix.iloc[i, j])
#         if abs(correlation_matrix.iloc[i, j]) > coor_Delete: 
#             val= abs(correlation_matrix.iloc[i, j])
#             colname = correlation_matrix.columns[i]
#             corList.append({
#                 "colum_Name": colname, 
#                 "value_Corr": val})
#             correlated_features.add(colname)

# print("Number of Highly Correlated Features", len(correlated_features))
# correlated_features

# # X.drop(labels=correlated_features, axis=1, inplace=True)

In [15]:
# sns.pairplot(df_Clean[correlated_features])
# df_Corr = df_Clean.drop(['x41' ], axis=1) # Removed 1 Coorlate Feature
# # df_Corr = df_Clean.drop(['x41' ], axis=1) # Removed 1 Coorlate Feature
# df_Corr.head()

In [16]:
# #  From Dr. Drew Machine Learning 1 Class
# def exclude_high_freq(X_df: pd.DataFrame, freq_pct=.90, verbose=False):
#     """Dataset that excludes high-frequent fields"""
#     result = []
#     for col in X_df.columns:
#         df = X_df[col].value_counts().reset_index()
#         df.columns = ["value", "ct"]
#         df["Column"] = col
#         df["pct"] = df.ct / len(X_df)
#         result.append(df.head(5))

#     df_agg = pd.concat(result, axis=0).groupby(["Column"])["pct"].max()

#     cols_to_delete = df_agg[df_agg > freq_pct].index.values.tolist()
   
#     if verbose:
#         print("Columns we will delete:")
#         df = pd.concat(result, axis=0)
#         df["val-count"] = df["value"].astype(str) + " (" + round(df.pct,2).astype(str) + ")"
#         display(df[df["Column"].isin(cols_to_delete)].groupby(["Column"])["val-count"].apply(list))
   
#     X_df = X_df.drop(cols_to_delete, axis=1).copy()

       
#     return X_df

# df_HighFreq = exclude_high_freq(df_Corr, verbose=True)

# print("Shape Before High Frequency Fields Removed:", df_Corr.shape)
# print("Shape After High Frequency Fields Woudl be Remove:", df_HighFreq.shape)
# print("")
# print("*** Important *** After Further Review,  Not Removing Fields because these are the Get Dummy Numbers and are to be expected")

In [17]:
# # Finalize Dataset
# df_Final = df_HighFreq.copy()
# df_Final.head()

In [18]:
# Dropping Catagorical and Numberic Features

In [19]:
# Drop Datasets for Numerica and Catagorical
df_Final = df_Org.drop(['x37', 'x32', 'x24', 'x29', 'x30'], axis=1)

In [20]:
# Testing for Balance

In [21]:
df_Final['y'].value_counts()

0    94846
1    63546
Name: y, dtype: int64

In [22]:
# Setup DF

In [23]:
# Setup Dataset
X = df_Final
X = X.drop(['y'], axis=1)
y = df_Final['y']
y = y.astype('int')
print(X.shape)
len(y)

(158392, 45)

158392

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=76)
print('X', X.shape)
print('X_train', X_train.shape)
print('X_test', X_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)
print("Test%", (X_test.shape[0]/X.shape[0]))
print("Train%", (X_train.shape[0]/X.shape[0]))

X (158392, 45)
X_train (110874, 45)
X_test (47518, 45)
y_train (110874,)
y_test (47518,)
Test% 0.3000025253800697
Train% 0.6999974746199303

In [25]:
# Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

lr = LogisticRegression(max_iter=10000, random_state=447788)
lr_CVS = cross_val_score(lr, X, y, scoring='accuracy', error_score="raise", n_jobs=-1)
lr_CVS

array([0.7001168 , 0.70346286, 0.7022855 , 0.70253804, 0.7045268 ])

In [27]:
# Feature Selection
from sklearn.linear_model import Lasso
from sklearn.model_selection import KFold
from sklearn.linear_model import LassoCV
split = KFold(shuffle=True)
lasso_SC = LassoCV(cv = split)
lasso_SC.fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.247e+02, tolerance: 3.805e+00
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

LassoCV(cv=KFold(n_splits=5, random_state=None, shuffle=True))

In [28]:
feature_List = []
for i in range(len(X.columns)):
    feature_List.append({
        'name': X.columns[i],
        'coef': lasso_SC.coef_[i]
        })

In [29]:
features_SC = pd.DataFrame.from_dict(feature_List)
final_Features = features_SC.loc[features_SC["coef"] != 0,:]
final_Features.shape
final_Features

final_Features.sort_values(by='name', ascending=False)

   name      coef
9    x9  0.000007
8    x8 -0.000220
7    x7 -0.003202
6    x6 -0.001188
5    x5 -0.000006
44  x49  0.007517
43  x48 -0.012605
41  x46 -0.001047
37  x42 -0.001231
35  x40 -0.000712
4    x4  0.000018
30  x34  0.000244
3    x3  0.000103
27  x28  0.002862
23  x23 -0.010649
21  x21  0.000110
20  x20 -0.017980
19  x19  0.000170
18  x18  0.000275
17  x17 -0.000088
16  x16  0.000370
14  x14 -0.000057
13  x13 -0.000063
12  x12 -0.003456
11  x11  0.000014
10  x10 -0.000052
1    x1  0.000200

In [30]:
C = np.array([.001, .01, .1, .2, .25, .50, .75, .99])
c_result = []
for i in C:
    lr.C = i
    out = cross_val_score(lr, X, y, scoring='accuracy', n_jobs=-1,)
    print(i, out.mean(),out.std())
    c_result.append({
        'C': i,
        'Mean': out.mean(),
        'STD': out.std()
    })

c_Value_DF_Man = pd.DataFrame(c_result)
# c_Value_DF_Man.to_csv('pickle/c_Value_DF_Man.csv')
display(c_Value_DF_Man)

0.001 0.7025481186630564 0.0015533005855017507
0.01 0.70256705925274 0.0014678910869191314
0.1 0.7025923129737244 0.0014738955846499088
0.2 0.7025923135716153 0.001468899138713409
0.25 0.702598626503619 0.0014545235599267414
0.5 0.7025481188623534 0.0014571338602914533
0.75 0.7025860000417208 0.0014528168014979873
0.99 0.7025733727826348 0.0014612894121072027

       C      Mean       STD
0  0.001  0.702548  0.001553
1  0.010  0.702567  0.001468
2  0.100  0.702592  0.001474
3  0.200  0.702592  0.001469
4  0.250  0.702599  0.001455
5  0.500  0.702548  0.001457
6  0.750  0.702586  0.001453
7  0.990  0.702573  0.001461

In [31]:
# Randomized Search - Random Forest

In [32]:
print("Final Model from Local")
# # Final Model
# from sklearn.ensemble import RandomForestClassifier

Final Model from Local

In [33]:
rf = RandomForestClassifier(n_jobs=-1)

tuned_parameters = {'n_estimators': [10,50, 100, 300, 500], 
                    'criterion': ['gini', 'entropy'],
                    'max_depth':[5,10,15],
                    'min_samples_split':[2,4,9] 
                   }
scores = ['precision', 'recall']

In [ ]:

for score in scores:
    print("# Tuning hyper-parameters for ********* %s" % score)
    print()

    clf = RandomizedSearchCV(RandomForestClassifier(), tuned_parameters, cv=5, n_iter=30, scoring='%s_macro' % score
    )
    clf.fit(X_train, y_train)

    print("Best parameters set found on development set:")
    print()
    print(clf.best_params_)
    print()
    print("Grid scores on development set:")
    print()
    means = clf.cv_results_['mean_test_score']
    stds = clf.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, clf.cv_results_['params']):
        print("%0.3f (+/-%0.03f) for %r"
              % (mean, std * 2, params))
    print()

    print("Detailed classification report:")
    print()
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print()
#     y_true, y_pred = y_test, clf.predict(X_test) # NEed to Add Back 
#     print(classification_report(y_true, y_pred)) # NEed to Add Back
    print()

# Tuning hyper-parameters for ********* precision

In [ ]:
best_params = clf.best_params_
print(best_params)

In [ ]:
# print("Validating Accuracy")
# rf_Model_Scores = cross_val_score(**best_params, X, y, cv=5, scoring='accuracy')
# rf_Model_Scores

In [ ]:
best_forest = RandomForestClassifier(**best_params)

In [ ]:
%%time
from sklearn.metrics import confusion_matrix
import seaborn as sns 

print("Fitting our model to the train set")
fit_forest = best_forest.fit(X_train, y_train)
print("Creating predicted variables to compare against y_test")

y_pred = fit_forest.predict(X_test)
# making classification report and confusion matrix
print(classification_report(y_test, y_pred))

ax= plt.subplot()

cm = confusion_matrix(y_test, y_pred)
sns.heatmap(cm, cmap="Blues", annot=True, fmt='d', ) # for decimal

ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(['No ', 'Yes']); ax.yaxis.set_ticklabels(['No', 'Yes']);

In [ ]:
# SGD
from sklearn.linear_model import SGDClassifier

In [ ]:
result = []
for m in ['log', 'hinge','modified_huber', 'squared_hinge', 'perceptron']:
    clf.loss = m
    print(clf)
    for i in [1E-2, 1E-1, 1e0, 1e1, 1e2, 1e3]: # Full List
    # for i in [1E-1, 1e0]:
#         print(i)
#         clf.alpha = i
        clf = SGDClassifier(loss=m, alpha=i, penalty="l2", max_iter=1000)
        print(clf)
        print("Fitting")
        clf_Fit = clf.fit(X_train, y_train)
        print("Scoring")
        clf_Score = clf.score(X_test, y_test)
#         print(clf_Score)
#         print("Predicting")
#         clf_preds = clf.predict(X_test)
        print(m, i, clf_Score)
        print("Appending to Dict")
        result.append({
            "Loss": m,
            'Alpha': i,
            'Model_Fit': clf,
            'Score': clf_Score,
#             'Preds': clf_preds,
            })

result = pd.DataFrame(result)
resultDF = result.sort_values(by='Score', ascending=False)
display(resultDF)  
# result.to_csv(r'result.csv')

In [ ]:
# XGD Boost
import xgboost as xgb

In [ ]:
dtrain = xgb.DMatrix(X_train,label=y_train)
dtest = xgb.DMatrix(X_test,label=y_test)

In [ ]:
evallist = [(dtest, 'eval'), (dtrain, 'train')]

In [ ]:
num_round = 100 # Test
param = {
    'max_depth': 10,
    'objective': 'multi:softmax',
    'num_class': 10,
    'eta': 0.3    }
param

In [ ]:
my_model = xgb.train(param, dtrain, num_round, evallist, early_stopping_rounds=5)

In [ ]:
print(my_model.best_iteration)
print(my_model.best_score)
# eta .01 = 0.069
# eta .03 = 0.001416

In [ ]:
out = xgb.cv(params=param, 
             dtrain=dtrain, 
             num_boost_round=3500, 
             nfold=3, 
             verbose_eval=True, 
             early_stopping_rounds=100)

In [ ]:
out.tail()

In [ ]:
out.iloc[-1]

In [ ]:
out.sort_values(by='test-merror-mean', ascending=True)

In [ ]:
my_model.predict(dtest)

In [ ]:
plt.plot(out['train-merror-mean'], label='Train Data')
plt.plot(out['test-merror-mean'], label='Test Data')
plt.ylabel('Score') 
plt.xlabel('Number of Boost Iterations') 
plt.title("Score and Boost Iterations")
plt.legend()
plt.show()

In [ ]:
from sklearn.metrics import accuracy_score

XGBoost_AC = accuracy_score(my_model.predict(dtest), y_test)
print("The Best XG Boost Accuracy Score is:", XGBoost_AC)
# .01 eta - 0.9311208384191254
# .03 eta - 0.931499642240835

In [ ]:
fig, ax = plt.subplots(figsize=(20, 20))
xgb.plot_tree(my_model, num_trees=10, ax=ax)
plt.show()

In [ ]:
# NN
import tensorflow as tf
# y_test
# y_train

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping

model_Classify = tf.keras.Sequential()
model_Classify.add(tf.keras.Input(shape=(45,)))
model_Classify.add(tf.keras.layers.Dense(500, activation='sigmoid', kernel_initializer='zeros'))  # adds a layer with 500 neurons, sigmoid activation
model_Classify.add(tf.keras.layers.Dense(250, activation='sigmoid'))   # adds a layer with 250` neurons, sigmoid activation
model_Classify.add(tf.keras.layers.Dense(100, activation='sigmoid'))   # adds a layer with 100 neurons, sigmoid activation
model_Classify.add(tf.keras.layers.Dense(1, activation='sigmoid'))  # adds a layer with 1 neurons, sigmoid

model_Classify.compile(optimizer='sgd',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping
es = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=1)

model_Classify.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=25, batch_size=25, callbacks=[es])

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping

model_Classify2 = tf.keras.Sequential()
model_Classify2.add(tf.keras.Input(shape=(45,)))
model_Classify2.add(tf.keras.layers.Dense(500, activation='sigmoid', kernel_initializer='zeros'))  # adds a layer with 500 neurons, sigmoid activation
model_Classify2.add(tf.keras.layers.Dense(250, activation='sigmoid'))   # adds a layer with 250` neurons, sigmoid activation
model_Classify2.add(tf.keras.layers.Dense(100, activation='sigmoid'))   # adds a layer with 100 neurons, sigmoid activation
model_Classify2.add(tf.keras.layers.Dense(1, activation='sigmoid'))  # adds a layer with 1 neurons, sigmoid

model_Classify2.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              # loss='binary_crossentropy',
              metrics=['accuracy'])

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping
es = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=1)

model_Classify2.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=25, batch_size=25, callbacks=[es])

In [ ]:
model_Classify2_preds = model_Classify2.predict(X_test)

In [ ]:
# making classification report and confusion matrix
model_Classify2_preds = (model_Classify2_preds > 0.5).astype(int)

In [ ]:
model_Classify2_preds_DF = pd.DataFrame(model_Classify2_preds)
print(model_Classify2_preds_DF.shape)
print(len(X_test))

In [ ]:
from sklearn.metrics import classification_report, plot_confusion_matrix
from sklearn.metrics import confusion_matrix

ax= plt.subplot()
cm = confusion_matrix(y_test, model_Classify2_preds_DF)
sns.heatmap(cm, cmap="Blues", annot=True, fmt='d', ) # for decimal

ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(['No', 'Yes']); ax.yaxis.set_ticklabels(['No', 'Yes']);

In [ ]:
sns.heatmap(cm, cmap="Blues", annot=True, fmt='d', ) # for decimal

ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(['No', 'Yes']); ax.yaxis.set_ticklabels(['No', 'Yes']);

In [ ]:
### Cost Loss / Win

In [ ]:
# Accuracy times Shape
# True Postive
# False Postive
# Need to Reveiw The LEcture before you write it up